body {
    font-family: 'Segoe UI', sans-serif;
    background: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 30px;
}

h2 {
    text-align: center;
    color: maroon;
    font-size: 36px;
    font-family: 'Georgia', serif;
}

.post {
    background-color: white;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.user {
    color: #b92b27;
    font-weight: bold;
    font-size: 18px;
}

.content {
    margin-top: 15px;
    line-height: 1.6;
    font-size: 16px;
}

.post-id {
    align-items: center;
    background-color: black;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 13px;
    display: inline-block;
    margin: auto;
    font-family: monospace;
}
